logs/*
!.gitkeep
node_modules/
app/lib
tmp
.DS_Store
.idea
/target
/app/doc
/app/js/inst/inst_directive.js
/app/js/type/typectrl.js
/app/css/inst_bootstrap.css
/app/css/type_bootstrap.css
/test/unit/inst/insttest.tpl.js
/test/unit/type/typetest.tpl.js
