<form name="dynamiccontent" id="dynamiccontent" class="form-horizontal">

	<!-- essential -->
	<div class="panel panel-default">

		<div class="panel-heading">

			<div class="btn-toolbar">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default" ng-click="save();">
						<span class='glyphicon glyphicon-floppy-disk'></span>
					</button>
					<button type="button" class="btn btn-default" ng-click="remove();">
						<span class='glyphicon glyphicon-trash'></span>
					</button>
				</div>

			</div>
		</div>
		<div class="panel-body">
			<textarea rows="100" cols="150" ng-model="content"></textarea>
		</div>
	</div>
</form>