<div>

	<nav class="navbar navbar-default" role="navigation" fx-collapse-item>
		<div class="navbar-header">
			<span class="navbar-brand">{{typename}} {{inst.id}}</span>
		</div>


		<div>
			<div class="navbar-right" fx-inst-actions="editor"></div>
		</div>
	</nav>
	<div class="lightbox">
		<form name="instform" class="form-horizontal">
			<fx-inst-editor fx-init-instance-from-query-params inst='inst' typename='typename' edit='edit' class="insteditor"> </fx-inst-editor>
		</form>
	</div>
</div>
