<div>

	<nav class="navbar navbar-default" role="navigation" fx-collapse-item>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle hidden-md hidden-lg" ng-click="collapsed=!collapsed">
				<span class="fa fa-bars"></span>
			</button>
			<span class="navbar-brand">{{typename}} {{inst.id}}</span>
		</div>


		<div class="navbar-collapse" collapse="collapsed" >
			<p class="navbar-right" fx-inst-actions="editor"></p>
		</div>
	</nav>
	<div class="lightbox">
		<form name="instform" class="form-horizontal">
			<fx-inst-editor fx-init-instance-from-query-params inst='inst' typename='typename' edit='edit' class="insteditor"> </fx-inst-editor>
		</form>
	</div>
</div>
