/*-----------General */

.required {
	color:red;
}
.info {
	color:blue;
}
@tooltip-max-width:           400px;

ul.prop-tooltip {
	width:200px;
	text-align:left;
}
/*--------------------edit  */
.prop {
	&.form-group {
		margin-left: 0px;
		margin-right: 0px;
	}
	&.simpleprop {
		.proplabel {
			.make-sm-column(4);
			> .control-label {
				width:100%;
			}
			
		}
		.propinputandhelp {
			.make-sm-column(8, 0);
		}
	}
	&.embeddedprop {
		> .proplabel {
			.make-sm-column(12);
			> .control-label
			{
				@media (min-width: @screen-sm-min) {
					left:200px;	
				}
				font-size:x-large;
				.make-sm-column(4);
				text-align:left;
			}
		}
		> .propinputandhelp {
			.make-sm-column(12, 0);
		}
		background-color: @well-bg;
	}
		
}
.inline .propinput {
	width:100%;
}
.inline	.prophelp {
	width:100%;
}

.propinput {
	.make-sm-column(6);
}
.prophelp {
	.make-sm-column(6);
}
.multiple {
	.make-sm-column(12, 0);
	> .simple {
		.make-sm-column(12, 0);
	}
	> .embedded {
		margin-bottom:2px;
		padding-left:15px;
		border-width:1px;
	}
	> .embeddedadd {
		.make-sm-column(12, 0);
	}
}


.multiplebtn() {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    float: left;
    font-weight: bold;
    left: 0;
    padding: 0;
    z-index: 3;
}
.multipledeletebtn {
	.multiplebtn();
	  position: absolute;
}
.multipleaddbtn {
	.multiplebtn();
	  position: relative;
	  font-size:x-large;
}


.input-group .form-control-feedback {
	z-index:3;
}

/*-----------viewer */
.embedded {
		.make-sm-column(12, 0);
		margin-bottom:2px;
		
		> .multiple {
			border:3px solid #D4D2CA;
			border-radius:10px;
		}
		> .simple {
			border:3px solid #D4D2CA;
			border-radius:10px;
		}
}
ul.proplist.simple {
	&.singlefield {
		list-style-type: none;
		margin: 0;
		padding: 0;
		> li {
			display: inline;
			&:not(:first-child):before {
				content: ', ';
			}
		}
	}
	&.multiplefield {
		margin: 0;
		padding-left: 15px;
	}
}
.instviewerbrand {
	@media (max-width: @screen-sm-min) {
		display:none;
	}
}
.instviewer div.row {
	margin-left:0px;
	margin-right:0px;
	&:not(.multiembed):not(.singleembed):nth-child(even) {
		background-color:#F3F3F3;	
	}
	
}
.insteditor div.prop {
	&:not(.multiembed):not(.singleembed):nth-child(even) {
		background-color:#F3F3F3;	
	}
	
}
.propview {
	margin-bottom: 2px;
}
.propvalue {
	.make-sm-column(6);
	@media (max-width: @screen-sm-min) {
		font-weight:bold;
	}
}
.viewlabel {
	.make-sm-column(6);
	@media (min-width: @screen-sm-min) {
    	text-align: right;
  	}
  	font-weight:normal;
}

.lightbox {
	border:1px solid #D4D2CA;
	border-radius:5px;
}

table.batcheditor td{
	min-width: 200px;
}