<div class="panel panel-default">
	<div class="panel-heading">
		<div class="btn-toolbar">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-primary btn-lg" ng-disabled="!fileState.filename || saved || !allsheetsValid()" ng-click="upload();">Upload</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div>
			<div>
				<div class="text-danger" style="font-size: large;">
					<div class="center-block" style="width:50%;">{{saveerror}}</div>
					<div class="center-block" style="width:50%;">{{savemsg}}</div>
				</div>
				<form name="uploadform" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-7 col-sm-offset-2">
							<input type="checkbox"  name="validate" ng-model="validate">
						Validate Worksheet</label>
					</div>
					<div class="form-group" ng-show="!validate">
						<div class="col-sm-7 col-sm-offset-2">
							<label>
								<input type="radio" class="radio-inline" ng-model="typesrc" value="sheetname">Worksheet Name as type
								<input type="radio" class="radio-inline"   ng-model="typesrc" value="firstcell">First cell in First row as type
							</label>
						</div>
					</div>
					<div class="form-group"  ng-show="!validate">
						<label class="control-label col-sm-2">Header Row</label>
						<div class="col-sm-7">
							<input type="number" class="form-control" name="headerrow" ng-model="headerrow">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Excel file</label>
						<div class="col-sm-7">
							<input type="file" class="form-control" name="xlsx" fx-excelupload-file accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
							<span ng-show="fileState.loading">
								<i class="fa fa-refresh fa-spin"></i>
							</span>
						</div>
					</div>

				</form>
			</div>

			<!--  validation flow -->
			<div ng-if="fileState.filename && validate">
				<div ng-include="'upload/upload_validation.html'" ></div>
			</div>
			<div ng-if="fileState.filename && !validate">
				<div ng-include="'upload/upload_novalidation.html'" ></div>
			</div>
			
		</div>
	</div>
</div>