
<div class="text-danger" style="font-size: large;">
	<ul>
		<li ng-repeat="erromsg in errormsgs">{{errormsg}} </li>
	</ul>
</div>
<div class="text-info">
	<ul>
		<li ng-repeat="sheetstate in fileState.sheets"><strong>{{sheetstate.name}}</strong>
			<ul>
				<li>Found {{sheetstate.json.length}} row with data</li>
				<li>Retrieve data from row {{sheetstate.datarowStart}} </li>
				<li  ng-class="{'text-danger':!sheetstate.isSheetValid()}"><strong>{{sheetstate.isSheetValid()?'Pass Verification':'Not Pass Verification'}}</strong>
			</ul>
		 <li>
	</ul>
</div>

<!-- One tab for each sheet -->
<tabset> <tab ng-repeat="sheetstate in fileState.sheets" ng-controller="fxExcelWorksheet"> <tab-heading> <span ng-class="{'text-danger':!sheetstate.isSheetValid()}">
	<span ng-if="!sheetstate.isSheetValid()">
		<i class="glyphicon glyphicon-bell"></i>
	</span>
	{{sheetstate.name}}
</span> </tab-heading>

<form name="sheetform" class="form-horizontal">
	<div class="form-group" ng-class="{'has-error': sheetform.type.$error.required}">
		<label class="col-sm-5 control-label">
			Type Associated with {{sheetstate.name}}
			<span class="required" data-tooltip="required">*</span>
		</label>
		<div class="col-sm-5">
			<select ng-options="type.getName() for type in types" ng-model="sheetstate.type" required name="type" class="form-control" ng-change="sheetstate.initializeHeaderMap();">
				<option value="">Select...</option>
			</select>
		</div>
		<div class="col-sm-2" ng-if="sheetform.type.$error.required">
			<span class="help-block"> Required </span>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error': sheetform.rowstart.$error.required}">
		<label class="col-sm-5 control-label">
			Data Starts from row
			<span class="required" data-tooltip="required">*</span>
		</label>
		<div class="col-sm-5">
			<input type="number" ng-model="sheetstate.datarowStart" required name="rowstart" class="form-control">
		</div>
		<div class="col-sm-2" ng-if="sheetform.rowstart.$error.required">
			<span class="help-block"> required </span>
		</div>
	</div>

	<!-- buttons -->
	<div ng-if="!sheetstate.convertedData()" style="margin-left: 100px;">
		<span class="text-danger">
			<span ng-if="requiredprop">{{requiredprop.getName()}} is not mapped to any column. Data can not be verified.</span>
		</span>
		<button type="button" class="btn btn-primary" ng-show="!sheetstate.convertedData()" ng-click="convertData()" ng-disabled="sheetform.$invalid">Verify</button>
	</div>
	<div ng-if="sheetstate.convertedData()" style="margin-left: 100px;">
		<span class="text-info">
			<span ng-show="sheetstate.skipped>0">{{sheetstate.skipped}} records are marked for skip.</span>
			<span ng-show="sheetstate.invalidInsts.length>0">{{sheetstate.invalidInsts.length+invalidInstsFirst10.length}} are invalid among them.</span>
			<span ng-show="sheetstate.invalidInsts.length>10">{{invalidInstsFirst10.length}} invalid records are shown in this page.</span>
		</span>
		<button type="button" class="btn btn-primary" ng-show="sheetstate.convertedData()" ng-click="checkInvalidInsts()" ng-disabled="sheetform.$invalid">Re-Verify</button>
	</div>


	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr>
				<td>#</td>
				<td ng-show="sheetstate.convertedData()">valid?</td>
				<td ng-repeat="propMap in sheetstate.headersPropMap" class="form-group" ng-class="{'has-error': sheetform['propmap'+$index].$error.required}">
					<label>
						<input type="checkbox" ng-model="propMap.skip" ng-change="sheetstate.unmapProp();">
						Skip
					</label>
					<select ng-model="propMap.prop" ng-show="!propMap.skip" ng-change="sheetstate.unmapProp();" ng-required="!propMap.skip" name="fake" fx-dynamic-name="'propmap'+$index"
						ng-options="prop.getName() for prop in sheetstate.getProps()"
					>
						<option value="">Select ...</option>
					</select>
					<div class="help-block">
						<span ng-if="sheetform['propmap'+$index].$error.required">required</span>
					</div>

				</td>
			</tr>
		<thead>
			<!--  show raw data to assist end user to map property -->
		<tbody ng-if="!sheetstate.convertedData()">
			<tr ng-repeat="row in jsonFirst10" ng-class="{'info': $index+1==sheetstate.datarowStart}" ng-controller="fxExceluploadRowScope">
				<td>{{rowindex+1}}</td>
				<td ng-repeat="propMap in sheetstate.headersPropMap">{{row[$index]}}</td>
			</tr>
		</tbody>

		<tbody ng-if="sheetstate.convertedData() && invalidInstsFirst10">
			<tr ng-repeat="inst in invalidInstsFirst10" ng-controller="instEditorController">
				<td>{{inst.$rowindex+1}}</td>
				<td>
					<label>
						<input type="checkbox" ng-model="inst.$skip">
						Skip
					</label>
				</td>

				<td ng-repeat="propMap in sheetstate.headersPropMap">
					<!-- raw data -->
					<div>
						{{sheetstate.json[inst.$rowindex][$index]}}
						<span ng-if="!propMap.skip && !inst.$validState[$index]" class="text-error">
							<span class="fa fa-exclamation"></span>
						</span>
					</div>

					<fx-prop-editor propobj="propMap.prop" ng-if="!inst.$skip && !propMap.skip && !inst.$validState[$index]" class="inline" />

				</td>
			</tr>
		</tbody>

	</table>



</form>
</tab> </tabset>