<div >
	<div class="row" data-ng-repeat="propobj in props" ng-class="['propview', propobj.getName()]">
		<div class="viewlabel" data-ng-if="showlabel">
			{{propobj.getDisplayText()}}
			<span data-tooltip-html-unsafe="{{tooltip(propobj)}}" class="info" data-ng-if="tooltip(propobj)">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>

		</div>
		<fx-prop-viewer  />
	</div>
	<div class="row well" data-ng-if="type.isExtensible()" data-fx-single-prop="fxExtraProp" ng-class="['propview', propobj.getName()]">
		<div class="viewlabel" data-ng-if="showlabel">
			Extra Properties
		</div>
		<div class="propvalue" ng-include src="'template/props/view/namevaluelist.html'" />
	</div>
</div>